<div class="center-align">
  Medic Name
</div>
<div style="width:300px;">
  <!-- <mwl-calendar-day-view [viewDate]="viewDate" [dayStartHour]="dayStartHour" [dayEndHour]="dayEndHour">
  </mwl-calendar-day-view> -->
  <table class="bordered highlight">
       <thead>
         <tr>
             <th>N.</th>
             <th>Paciente</th>
             <th>Exame</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>1</td>
           <td>Nome Grande de Alguém Ver se Cabe</td>
           <td>Nome de Exame</td>
         </tr>
         <tr>
           <td>2</td>
           <td>Nome Grande de Alguém Ver se Cabe</td>
           <td>Nome de Exame</td>
         </tr>
         <tr>
           <td>3</td>
           <td>Nome Grande de Alguém Ver se Cabe</td>
           <td>Nome de Exame</td>
         </tr>
       </tbody>
     </table>
</div>
