<div class="container">
  <ul id="slide-out" class="side-nav fixed">
    <li><a href="#!" i18n="@@MonthlyCalendar">Monthly Calendar</a></li>
    <li><a href="#!" i18n="@@DailyCalendar">Daily Calendar</a></li>
    <li><a href="#!" i18n="@@Schedules">Schedules</a></li>
    <li><a href="#!" i18n="@@Medics">Medics</a></li>
    <li><a href="#!" i18n="@@Exams">Exams</a></li>
  </ul>
</div>
<a href="#" materialize="sideNav" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
