<!-- <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Agenda do Mês</a>
  </li>
  <li>Agenda do Dia</li>
  <li>Cadastro de Horários</li>
  <li>Cadastro de Médicos</li>
  <li>Cadastro de Exames</li>
</ul> -->
  <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Agenda do Mês</button>
  <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Agenda do Dia</button>
  <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Cadastro de Horários</button>
  <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Cadastro de Médicos</button>
  <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Cadastro de Exames</button>
