<!-- <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Agenda do Mês</a>
  </li>
  <li>Agenda do Dia</li>
  <li>Cadastro de Horários</li>
  <li>Cadastro de Médicos</li>
  <li>Cadastro de Exames</li>
</ul> -->
<button type="button" class="btn btn-outline-secondary btn-lg btn-block" i18n="@@MonthlyCalendar">Monthly Calendar</button>
<button type="button" class="btn btn-outline-secondary btn-lg btn-block" i18n="@@DailyCalendar">Daily Calendar</button>
<button type="button" class="btn btn-outline-secondary btn-lg btn-block" i18n="@@Schedules">Schedules</button>
<button type="button" class="btn btn-outline-secondary btn-lg btn-block" i18n="@@Medics">Medics</button>
<button type="button" class="btn btn-outline-secondary btn-lg btn-block" i18n="@@Exams">Exams</button>
